[Desktop Entry]
Type=Application
Name=Fancy Projects
GenericName=Gestor de proyectos
Comment=Gestión de cómics y libros por páginas, tareas y horas
Exec=/usr/bin/fancyprojects %f
Icon=com.ulises.fancyprojects
Terminal=false
Categories=Office;Graphics;
Keywords=comic;páginas;tareas;proyecto;
StartupNotify=true